
html,body{
  width: 100%
}

body{
  font-family: 'Bitter', serif;
}

#bar{
  background-color:#ff3c51;
  height:7px;
  width:100%;
}

#body {
  width: 750px;
  margin: 0px auto;
  font-size: 20px;
}


#wraper {
  width: 700px;
  margin: 0px auto;
  text-align: justify;
}

header{
  margin-top: 30px;
  margin-bottom: 35px;
}

#home {
    border-bottom: solid;
    border-color: grey;
    margin-top: 10px;
}

.profile_picture{
  width: 200px;
  height: 200px;
  display: table;
  margin: 0 auto;

}

.newpage{
  text-align: center;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.newpage li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
#resume{
  margin: 10px auto;
  text-align: center;
}

#pages{
  margin: 0px auto;
  font-size: 15px;
}

#contact{
  margin-bottom: 35px;
  margin-top: 15px;
}

#contact ul{
  width:100%;
  text-align:center;
}

#contact li {
  display:inline-block;
  *display:inline; /*IE7*/
  *zoom:1; /*IE7*/
  margin-right:10px;
}

#quote{
  font-size: 17px;
  font-style:italic;
  text-decoration-color: grey;
  text-align: center;
}

/*--------------------NEWS PAGE----------------------*/

.title{

  font-size: 55px;
  font-weight:bold;
  text-align: center;
}


.home{
  display: block;
  text-align: left;
  text-size-adjust:100%;
}

.post{
  height:195px:
  margin-top: 50px;
  text-align: center;
}


.post_content{
  font-size:  20px;
}

.post_content > p img {
  width: 100%;
} 


.current{
  background-color: #99B5DD;
}



.nav-bot{
  margin: 0px auto;
  font-size: 15px;
}

footer{
  border-bottom: 10px;
  text-align: center;
}

.subtitle{
  text-align: center;
}
.grid-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(200px, auto);

}

.grid-news-item {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-news-item:hover{


}

.grid-news-item-img {
  width: 350px;
  height: 200px;

}

.grid-news-item-content{
  margin: 10px;
  text-align: center;
}



.footer-news{
  margin: 2em;
  text-align: center;
}


@media only screen and (max-width: 760px) {
    body {
        width: 100%;
        background-color: lightgreen;
    }

    #bar {
      //background-color: yellow;
      width: 100%;
    }

    #body {
      width: calc(100% - 40px);
      padding: 0px 20px;

    }

    #presentation{
      //color: green;
      width: auto;
    }

    #wraper {
      width: 100%;
    }

    header h1{
      font-size: 17px;
    }
}
