:root {
  --main-bg-color: #0E0E0E;
  --main-text-color: white;
  --accent: #2196F3;
}


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  font-size: 100%;
}

html {
  font-family: Poppins;
}

body {
  width: 100%;
  background: var(--main-bg-color);
  color: var(--main-text-color);

  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeLegibility;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
}

/*navbar*/

.navbar{
  margin-top: 2em;
}

.navbar > *{
  display: inline-block;
}
.navbar .home-logo img{
  height: 15px;
  width: auto;

}
.navbar .navbar-links{
  float: right;
}
.navbar .navbar-links ul{
  list-style: none;
}
.navbar .navbar-links li{
  margin-right: 1em;
}
.navbar .navbar-links .item{
  margin-top: 1em;
  opacity: 0;
  text-align: left;
  transition: opacity 0.7s ease-in-out;
}
.navbar .navbar-links .item.active{
  opacity: 1;
}


/* burger icon */

.burger {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.burger span{
  width: 100%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: block;
  background: white;
  transition: background-color 0.5s ease-in-out;
}

.burger span::before, .burger span::after{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background: white;
  transition: transform 0.5s ease-in-out;
}

.burger span::before{
  transform: translateY(-8px);
}
.burger span::after{
  transform: translateY(8px);
}

.burger.active span{
  background-color: transparent;
}

.burger.active span::before{
  transform: translateY(0px) rotateZ(45deg);
}
.burger.active span::after{
  transform: translateY(0px) rotateZ(-45deg);
}

/* header */

header{
  margin-top: 2em;
  margin-bottom: 2em;
}
header .avatar{
  width: fit-content;
  margin: 0 auto;
  padding: 1em;

}

header .avatar img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

header .text p {
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  font-size: x-large;
}

header .sub-text p{
  font-size: 1.25em;
  text-align: center;
}
/* Project button */

.link .button{
  width: fit-content;
  margin: 10vh  auto 0;
  padding: 1em;

  border: 1px solid var(--accent);
  border-radius: 5px;

  cursor: pointer;

}

.link .button:hover{
  border: 1px solid var(--main-bg-color);
  background: var(--accent);
  color: var(--main-text-color);
  border-radius: 5px;

  cursor: pointer;

}

/* footer */



/*-----------MOBILE-------------------*/


@media screen and (max-width: 700px) {
  .navbar .navbar-links li{
    margin-right: 0em;
  }
}
