---
layout: default
---
<div class="mobile">
  <header id="news-header">
    <h1 class="title">News</h1>
  </header>

  <div class="grid-news">
    {% for n in site.posts  %}
      <div class="grid-news-item">
        <a href="{{site.baseurl}}{{n.url}}">
          <img class="grid-news-item-img"
          src="/assets/image/{{n.icon}}" alt="Thumbnail">
        </a>
        <div class="grid-news-item-content">
          <p>{{n.title}}</p>
          <p>{{n.categories}}</p>
        </div>
      </div>
    {%endfor%}
  </div>
  <div class="footer-news">
    Vous trouverez également plusieurs informations sur mon compte LinkedIn.
  </div>

  <div id="contact">
  {% include links2.html navclass='nav-bot' %}
  </div>

</div>
