<nav>
  <ul class="nav {{%include.navclass%}}">
  <li><a href="http://www.github.com/{{site.github_username}}" target="_blank">
    </a></li>
  <li><a href="http://www.github.com/{{site.github_username}}" target="_blank">
    </a></li>
  <li><a href="http://www.github.com/{{site.github_username}}" target="_blank">
    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
    </a></li>
  <li><a href="http://www.twitter.com/{{site.twitter_username}}" target="_blank">
    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
    </a></li>
  <li><a href="http://www.linkedin.com/in/{{site.twitter_username}}" target="_blank">
    <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
    </a></li>
  </ul>
</nav>
